<h1>Details</h1>

<div>
  <div><strong>Name:</strong> {{celebs.name}};</div>
  <br>
  <div><strong>Occupation:</strong> {{celebs.occupation}};</div>
  <br>
  <div><strong>Catch phrase:</strong> {{celebs.catchPhrase}}</div>
</div>
<br>
<a class="btn btn-success btn-sm" href="/celebrities/{{celebs._id}}/edit">Edit</a>
<br>
<br>
<a class="btn btn-primary btn-sm" href="/celebrities">Back</a>