<h1>Details</h1>

<div>
  <div><strong>Title:</strong> {{movies.title}};</div>
  <br>
  <div><strong>Genre:</strong> {{movies.genre}};</div>
  <br>
  <div><strong>Plot:</strong> {{movies.plot}}</div>
</div>
<br>
<a class="btn btn-success btn-sm" href="/movies/{{movies._id}}/edit">Edit</a>
<br>
<br>
<a class="btn btn-primary btn-sm" href="/celebrities">Back</a>