<h1>Add your favourite movie</h1>

<form action="/movies/add" method="POST">
  <label>
    Title
    <input type="text" name="title">
  </label>
   <label>
    Genre
    <input type="text" name="genre">
  </label>
  <label>
    Plot
    <input name="plot">
  </label>
  
  <button class="btn btn-success" type="submit">Submit</button>
</form>

<br>
<a class="btn btn-primary btn-sm" href="/celebrities">back</a>